$color-primary = #000
$color-bg = #fff
$color-text = #000
$sidebar-width = 480px

@import 'basic/_layout'
@import 'basic/_coverpage'

/* sidebar */
.sidebar

  ul li a
    text-decoration none
    white-space nowrap
